form {
	height: 40vh;
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 10px 0;
	padding: 10px;
	justify-content: center;
}
input {
	margin: 10px 0;
	padding: 10px;
	border: unset;
	border-bottom: 2px solid #e3e3e3;
	outline: none;
}
button {
	padding: 10px;
	backgroung: #e3e3e3;
	border: unset;
	cursor: pointer;
}
a {
	color: #7c9ab7;
	text-decoration: none;
}
.msg {
	border: 2px solid #ffa908;
	border-radius: 3px;
	padding: 10px;
	text-area: center;
}